<html th:replace="~{components/layout :: layout (~{::body},'owners')}" xmlns:th="https://www.thymeleaf.org">

<body>

    <h2>Owner</h2>
    <form class="form-horizontal" id="add-owner-form" method="post" th:object="${owner}">
        <div class="form-group has-feedback">
            <input th:replace="~{components/input :: input ('First Name', 'firstName', 'text')}" />
            <input th:replace="~{components/input :: input ('Last Name', 'lastName', 'text')}" />
            <input th:replace="~{components/input :: input ('Address', 'address', 'text')}" />
            <input th:replace="~{components/input :: input ('City', 'city', 'text')}" />
            <input th:replace="~{components/input :: input ('Telephone', 'telephone', 'text')}" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" th:text="${text}"
                        th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
                        type="submit">Add Owner</button>
            </div>
        </div>
    </form>
</body>

</html>